* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  min-height: 100vh;
  background:
    radial-gradient(circle at top left, #ff9a9e, transparent 40%),
    radial-gradient(circle at bottom right, #8fd3f4, transparent 40%),
    linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  transition: 0.4s;
}

header {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 600;
}
nav a:hover {
  color: #ffd369;
}
#themeBtn {
  background: #ffd369;
  border: none;
  border-radius: 50%;
  padding: 8px 10px;
  cursor: pointer;
}
section {
  padding: 80px 20px;
  text-align: center;
}

.glass {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  border-radius: 25px;
  margin: 40px auto;
  max-width: 900px;
  padding: 50px 20px;
}

h2 {
  margin-bottom: 15px;
}

p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}
.social-links {
  margin-top: 25px;
}
.social-links a {
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  color: #222;
  padding: 12px 25px;
  margin: 10px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
}
.social-links a:hover {
  transform: translateY(-6px) scale(1.08);
}
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}
.card {
  background: white;
  color: #333;
  width: 270px;
  padding: 25px;
  border-radius: 22px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-15px);
}

.card h3 {
  color: #764ba2;
}
.project-link {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 22px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  border-radius: 25px;
  text-decoration: none;
}
.contact-box {
  margin-top: 25px;
}

.contact-box a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
  color: #ffd369;
  text-decoration: none;
}
footer {
  background: rgba(0,0,0,0.35);
  text-align: center;
  padding: 15px;
}
.dark-mode {
  background:
    radial-gradient(circle at top left, #141e30, transparent 40%),
    radial-gradient(circle at bottom right, #243b55, transparent 40%),
    inear-gradient(135deg, #000000, #434343);
}
